.restroG{
    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    box-sizing: border-box;
   
    margin-top: -1rem;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    width: 50%;
}

.restroGa{
    width: 2000px;
    height: 800px;
    /* border: 2px solid red; */
    
    /* background-color: blue; */
    display: block;
    
}
.restroGa img{
    
    height: 80px;
    width: 80px;
    
}